extends ../../layouts/main/main.pug

block append scripts
	script(type='module' src='./index.js')

block content
	.chat
		.chat__inner
			.chat-side
				.chat-side__header
					.chat__avatar
					.point-button.chat-side__menu-button
						ul.chat-side__menu-inner
							li.chat-side__menu-item
								a.chat-side__menu-link(
									href='/src/pages/profile/profile-view/profile-view.pug'
								) Профиль
							li.chat-side__menu-logout
								button.chat-side__button-logout Выйти
				.chat-side__search
					.chat-side__search-item
						.chat-side__search-icon
						input.chat-side__search-input(
							placeholder='Поиск'
						)
				.side__chat-list
			.chat-main 
				|Выберите чат
