.home
	h2.home__subtitle Добро пожаловать в 
	h1.home__title Prachat
	.home__actions
		a.default-link(
			href='/src/pages/auth/login/login.pug'
		) Войти
		a.default-link(
			href='/src/pages/auth/registration/registration.pug'
		) Нет аккаунта?